.trackbutton {
	border: none;
    color: white;
    display: inline-block;
	font-size: 2em;
	padding: 6px 10px 6px 10px;
	margin-left: 15px;
}

.trackbutton_gray {
    background-color: #777777; /* Gray */
}

.trackbutton_green {
    background-color: #4CAF50; /* Green */
}

.trackbutton:hover {
	cursor: pointer;
}

.hupidtextfield {
	margin-top: 15px;
	padding: 6px;
	font-size: 2em;
	font-weight: 100;
	border: 0px;
}

.hupidtextfield_gray {
	background-color: #BBBBBB;
}

.hupidtextfield_green {
	background-color: lightgreen;
}

.errortext {
	color: red;
	font-size: 1em;
}

#lp-container  {
	padding-top: 10%;
	margin: 0 auto;
	width: 1024px;
	text-align: center;
}

#lp-container h1 {
	font-family: sans-serif;
}


/* tracking view styling */
* {
	margin: 0;
	padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0px;
	align-items: center;
	grid-template: 	"header header"
					"step1 step2"
					"step3 step3"
					"step4 step5"
					"list list";
}

.header {
	padding: 15px;
	grid-area: header;
}

.header > h2 {
	font-family: sans-serif;
}

.step {
	padding: 30px 5px 30px 5px;
	text-align: center;
	background-color: lightblue;
	color: lightgray;
}

#step1 {
	grid-area: step1;
}

#step2 {
	grid-area: step2;
}

#step3 {
	grid-area: step3;
}

#step4 {
	grid-area: step4;
}

#step5 {
	grid-area: step5;
}

#tracking-list {
	padding-top: 20px;
	grid-area: list;
}

.step .svg-inline--fa {
	font-size: 3em;
}

.step_taken {
	background-color: darkblue;
	color: white;
}

.steptext {
	display: none;
}

.step_taken .steptext {
	display: inline;
}

@media screen and (min-width: 780px) {

	.grid {
		display: grid;
		grid-template-columns: 0.2 0.2 0.2 0.2 0.2;
		grid-gap: 12px;
		align-items: center;
		grid-template: 	"header header header header header"
						"step1 step2 step3 step4 step5"
						". list list list .";
	}

}

#steplist {
	text-align: left;
	font-family: sans-serif;
	margin-top: 20px;
	margin-left: 10px;
}

th {
	padding-bottom: 15px;
}

td {
	padding-right: 15px;
}

/* demo stuff */
#createParcelFormContainer {
	margin: 10px;
	font-family: sans-serif;
}
